@import url(normalize.css);

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}
.wrap {
	background: url(../images/bg.jpg);
	background-size: cover;
	height: 100%;
	background-attachment: fixed;
	margin: 0;
}

.wrapper {
	max-width: 900px;
	margin: 0 auto;
	font-size: 16px;
}

h1, h2, h3 {
	margin: 0px auto 15px;
	padding: 15px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.04em;
	color: #ff0248;
}
h2 {
	background: #000;
}
.work {
	display: flex;
	flex-direction: row;
}
.exercise {
	position: relative;
	margin: 20px;
	padding: 15px;
}
.description {
	margin: 15px 0;
	padding: 0 25px;
	line-height: 28px;
	color: #fff;
}
.parag {
	font-weight: bold;
	margin: 15px;
}
.screen {
	display: block;
	margin: 20px auto;
	width: 100%;
}
.result1,
.result2,
.result3,
.show-code {
	margin: 20px auto;
	padding: 5px;
	width: 100%;
	min-height: 100px;
	border: 2px inset #ff0248;
	background-color: #afe2f5;
	color: #ff0248;
	font-size: 16px;
	z-index: 10;
}


.btn {
	display: inline-block;
	width: 155px;
	text-align: center;
	margin: 60px 25px 30px;
	padding: 5px 10px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	border: 2px inset #ff0248;
	background: none;
}

